#header{
    
}
.miniheader1{
    display: flex;
    width: auto;
    background-color: blue;
}
.searcher{
    margin-top: auto;
    margin-left: 150px;
    margin-bottom: 0;
}
.btn-regist{
    margin-top: auto;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: auto;
    text-decoration: none;
    background-color: rgb(216, 216, 216);
    color: rgb(0, 0, 0);
    border: solid 3px #6b6b6b;
}
.btn-regist:active{

    border: solid 3px rgb(255, 255, 255);
}
.logo{
    width: 150px;
    text-align:center;
    line-height: 150px;
    margin-top: 0;
    margin-bottom: 0;
    background-color: rgb(218, 135, 12);
}
